
<div class="row">
    <div id="agregado">
        <h1 id="educacion">Educación</h1>
        <div class = "buttons" *ngIf="userLogged |async as user">
            <div (click)= "formularioAgregar();"> 
                <a href="#educacion" class="btn-right">
                    <i class="fa-solid fa-circle-plus"></i>
                </a>
            </div>
        </div>
        
    </div>
    <form class = "formulario "id="agregarEducacion" style="display: none;"  >
        
        
        <div class="formulario">
            <label >Logo link</label>
            <input 
                type="text" 
                id="logo" 
                placeholder="http://www.esto_es_una_imagen.com/logo.png"
                ngModel
                required>
                <br>
            <label >Url Institucion</label>
            <input 
                type="text" 
                id="url" 
                placeholder="http://www.esto_es_la_url.com"
                ngModel
                required>
                <br>
            <label >Institucion</label>
            <input 
                type="text" 
                id="institucion" 
                placeholder="Ej. Universidad Nacional de Córdoba"
                ngModel
                required>
                <br>
            <label>Carrera</label>
            <input 
                type="text" 
                id="carrera" 
                placeholder="Ej. Licenciatura en Psicologia"
                ngModel
                required>
                <br>
            <label>Años</label>
            <input 
                type="text" 
                id="years" 
                placeholder="xxxx - xxxx"
                ngModel
                required>
                <br>
            <button class="submit" type="submit" (click)="crear_educacion()">Crear</button>  
        </div>  
    </form>
    <div class="col-lg-11">
             
        <ul>
            <li *ngFor="let educacion of educacionList; let i = index" class = "item">
                
                    <div id = "{{'here' + i}} " class= "data-container" >
                        <div class = "logo-image-container">
                           <a [href]="educacion?.url" target="_blank"> <img [src]="educacion?.img"/></a>
                        </div>
                        <div class = "buttons" *ngIf="userLogged |async as user">
                            <div (click)="cambiar_parrafo(educacion.id);">
                                <a href="{{'#here'+i}}" class="btn-right">
                                    <i class="fa fa-pen"></i>
                                </a>
                            </div>
                            <div class="btn-edit p-2">
                                <div (click)="borrar_parrafo(educacion.id);">
                                    <a href="{{'#here'+i}}" class="btn-right">
                                        <i class="fa-solid fa-xmark"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                            <!-- Agregar Id para poder identificar -->
                            <h3 style="display: block;" id = "{{educacion.id}}" >{{educacion?.id}}</h3>
                            <h2>{{educacion?.school}}</h2>  <h3>{{educacion?.years}}</h3>
                            <p>{{educacion?.carreer}}</p>
                            <div id = "{{'editable' + educacion.id}}" style="display: none;">
                                
                                <form class = "formulario ">
                                    <div class="formulario">
                                        <label >Logo link</label>
                                        <input 
                                            type="text" 
                                            id= "{{'logo'+educacion.id}}" 
                                            name="logo" 
                                            placeholder="http://www.esto_es_una_imagen.com/logo.png"
                                            required>
                                            <br>
                                        
                                        <label >Url Institucion</label>
                                        <input 
                                            type="text" 
                                            id= "{{'url'+educacion.id}}" 
                                            name="url" 
                                            placeholder="http://www.esto_es_la_url.com"
                                            required>
                                            <br>
                                        
                                        <label >Institucion</label>
                                        <input 
                                            type="text" 
                                            id= "{{'institucion'+educacion.id}}" 
                                            name="Institucion" 
                                            placeholder="Ej. Universidad Nacional de Córdoba"
                                            required>
                                            <br>
                                        <label>Carrera</label>
                                        <input 
                                            type="text" 
                                            id= "{{'carrera'+educacion.id}}" 
                                            name="Carrera" 
                                            placeholder="Ej. Licenciatura en Psicologia"
                                            required>
                                            <br>
                                        <label>Años</label>
                                        <input 
                                            type="text" 
                                            id="{{'years'+educacion.id}}"
                                            name="Años" 
                                            placeholder="xxxx - xxxx"
                                            required>
                                            <br>
                                        <button class="submit" type="submit" id = "{{'buttonUpdate' + i}}" (click)="actualizar_datos(educacion.id)">Actualizar</button>  
                                    </div>  
                                </form>
                                    
                                
                            </div>
                    
                
                </li>
            
           
        </ul>
    </div>
</div>

