
<div class="row">
    <h1>Educación</h1>
    
    <div class="col-lg-11">
             
        <ul>
            <li *ngFor="let educacion of educacionList" class = "item">
                
                    <div class= "data-container">
                        <div class = "logo-image-container">
                           <a [href]="educacion?.url" target="_blank"> <img [src]="educacion?.img"/></a>
                        </div>
                        <div class = "buttons" *ngIf="userLogged |async as user"><div class="btn-edit p-2" onclick="cambiar_parrafo()">
                            <a href="#" class="btn-right">
                                <i class="fa fa-pen"></i>
                            </a>
                        </div>
                        <div class="btn-edit p-2">
                            <a href="#" class="btn-right">
                                <i class="fa-solid fa-xmark"></i>
                            </a>
                        </div>
                        </div>
                    </div>

                            <h2>{{educacion?.school}}</h2>  <h3>{{educacion?.years}}</h3>
                            <p>{{educacion?.carreer}}</p>
                            <div class = "editable">
                                
                               
                                    <input id = "editText" 
                                    type="text" 
                                    oninput="text_change(this.value)"  
                                    style = "display: none">
                                
                            </div>
                    
                
                </li>
            
           
        </ul>
    </div>
</div>

<!-- <script>
function cambiar_parrafo(){
    document.getElementById("editText").style.display="block";
    let texto = document.getElementById("texto").innerText;
    console.log(texto)
  };

  function text_change(value){
    document.getElementById("texto").innerText=value;
  }


</script> -->