<div class="row">
    <div id="agregadoEx">
        <h1>Experiencia laboral</h1>
        <div class = "buttons" *ngIf="userLogged |async as user"><a href="#" class="btn-right"><i class="fa-solid fa-circle-plus"></i></a></div>
    </div>
    <div class="col-lg-11">
        <ul>
            <li *ngFor="let experiencia of experienciaList" class = "item">
                
                <div class= "data-container">
                    <div class = "logo-image-container">
                       <a [href]="experiencia?.url" target="_blank"> <img [src]="experiencia?.img"/></a>
                    </div>
                    <div class = "buttons" *ngIf="userLogged |async as user"><div class="btn-edit p-2" onclick="cambiar_parrafo()">
                        <a href="#" class="btn-right">
                            <i class="fa fa-pen"></i>
                        </a>
                    </div>
                    <div class="btn-edit p-2">
                        <a href="#" class="btn-right">
                            <i class="fa-solid fa-xmark"></i>
                        </a>
                    </div>
                    </div>
                </div>

                        <h2>{{experiencia?.company}}</h2>  <h3>{{experiencia?.years}}</h3>
                        <p>{{experiencia?.position}}</p>
                        <div class = "editable">
                            
                           
                                <input id = "editTextEx" 
                                type="text" 
                                oninput="text_change(this.value)"  
                                style = "display: none">
                            
                        </div>
                
            
            </li>
        </ul>
    </div>
</div>
