<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <ul>
                <div class = "item-list">
                    <li class="title-list"><h1>Encriptador</h1></li>
                    <div class = "buttons" *ngIf="userLogged |async as user">
                        <div class="btn-edit p-2"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
                        <div class="btn-edit p-2"><a href="#" class="btn-right"><i class="fa-solid fa-xmark"></i></a></div>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores cum quo, nisi consequuntur, rerum, praesentium et nostrum eius reiciendis obcaecati at recusandae tempora cumque sint quae! Consequatur ipsa aspernatur nulla!</p>
            </ul>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/encriptador.png" class="img-fluid img-proyecto" >
            </div>
        
        </div>
    </div>
</div>
