<div class="row">
    <div id="agregadoPr">
        <h1>Proyectos Realizados</h1>
        <div class = "buttons" *ngIf="userLogged |async as user" (click)="formularioAgregar();">
            <a href="#agregadoPr" class="btn-right">
                <i class="fa-solid fa-circle-plus"></i>
            </a>
        </div>
        <form class = "formulario "id="agregarPr" style="display: none;"  >
        
        
            <div class="formulario">
                <label >Imagen link</label>
                <input 
                    type="text" 
                    id="logoPr" 
                    placeholder="http://www.esto_es_una_imagen.com/logo.png"
                    ngModel
                    required>
                    <br>
                <label >Url</label>
                <input 
                    type="text" 
                    id="urlPr" 
                    placeholder="http://www.esto_es_la_url.com"
                    ngModel
                    required>
                    <br>
                <label >Nombre Proyecto</label>
                <input 
                    type="text" 
                    id="nombrePr" 
                    placeholder="Ej. e-Commerce Site"
                    ngModel
                    required>
                    <br>
            <label>Descripción</label>
            <input 
                type="text" 
                id="descripcionPr" 
                placeholder="Ej. Sitio completo de plataforma e-Commerce"
                ngModel
                required>
                <br>
             <button class="submit" type="submit" (click)="crear_proyecto()">Crear</button> 
            </div>
        </form>
    </div>
    <div class="contenedor">
        <div>
            <div >
                <ul>
                    <li *ngFor="let proyecto of proyectoList; let i = index" class = "item">
                        
                            <div id = "{{'herePr' + i}} " class= "data-container">
                                
                                <ul>
                                    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                                        <div  class="item-list"><h3 style="display: none;" id = "{{'idPr'+i}}">{{proyecto?.id}}</h3> </div>
                                        <h2>{{proyecto?.title}}</h2>
                                        <p>{{proyecto?.description}}</p>
                                    </div>
                                    <div id= "{{'imgPr'+i}}" class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                                        <a [href]="proyecto?.url" target="_blank"><img [src]="proyecto?.img" class="img-fluid img-proyecto" ></a>
                                        
                                    </div>
                                </ul>
                                  
                                <div class = "buttons" *ngIf="userLogged |async as user">
                                    <div (click)="cambiar_parrafo(i);">
                                        <a href="{{'#herePr'+i}}" class="btn-right">
                                            <i class="fa fa-pen"></i>
                                        </a>
                                    </div>
                                    <div class="btn-edit p-2">
                                        <div (click)="borrar_parrafo(i);">
                                            <a href="{{'#herePr'+i}}" class="btn-right">
                                                <i class="fa-solid fa-xmark"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                    <!-- Agregar Id para poder identificar -->
                                   
                                    
                                    
                        <div id = "{{'editablePr' +i}}" style="display: none;">
                            
                            <form class = "formulario ">
                                <div class="formulario">
                                    <label >Imagen link</label>
                                    <input 
                                        type="text" 
                                        id= "{{'logoPr'+i}}" 
                                        name="logo" 
                                        placeholder="Url Imagen"
                                        required>
                                        <br>
                                    
                                    <label >Url Proyecto</label>
                                    <input 
                                        type="text" 
                                        id= "{{'urlPr'+i}}" 
                                        name="url" 
                                        placeholder="http://www.esto_es_la_url.com"
                                        required>
                                        <br>
                                    
                                    <label >Nombre Proyecto</label>
                                    <input 
                                        type="text" 
                                        id= "{{'nombrePr'+i}}" 
                                        placeholder="Ej. Encripador de Texto"
                                        required>
                                        <br>
                                    <label>Descripción</label>
                                    <input 
                                        type="text" 
                                        id= "{{'descripcionPr'+i}}" 
                                        placeholder="Ej. Programa de encriptado cesar"
                                        required>
                                        <br>
                                    <button class="submit" type="submit" id = "{{'buttonUpdatePr' + i}}" (click)="actualizar_datos(i)">Actualizar</button>  
                                </div>  
                            </form>
                                
                            
                        </div>
                                   
                        
                    </li>
                    
                   
                </ul>
                
                
                
            </div>   
            
        </div>
    </div>
</div>
